EXPO_PUBLIC_API_BASE_URL=http://192.168.1.10:3458
EXPO_PUBLIC_FIREBASE_API_KEY=your_firebase_web_api_key
EXPO_PUBLIC_FIREBASE_PROJECT_ID=your_firebase_project_id
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=your_firebase_project_id.firebaseapp.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your_ios_oauth_client_id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_web_oauth_client_id.apps.googleusercontent.com
# RevenueCat Public SDK key for the iOS app. Never use an sk_ secret key here.
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=appl_your_public_revenuecat_key
EXPO_PUBLIC_REVENUECAT_ENTITLEMENT_ID=plus
