EXPO_PUBLIC_API_BASE_URL=http://192.168.1.10:3458
EXPO_PUBLIC_FIREBASE_API_KEY=your_firebase_web_api_key
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=appl_your_public_revenuecat_key
EXPO_PUBLIC_REVENUECAT_ENTITLEMENT_ID=plus
